[Desktop Entry]
Name=Notepad==
Exec=/opt/matthewyang/Notepad==/Notepad==
Icon=/opt/matthewyang/Notepad==/Notepad.png
Type=Application
Terminal=false
MimeType=text/plain;
Categories=Application;Utility;TextEditor;
Keywords=Text;Editor;Plaintext;Write;
